In [1]:
import pandas as pd
import requests
import re
import json

### Use requests to get data from the arcgis api

In [3]:
# Base URL of the endpoint
base_url = 'https://services.arcgis.com/uHAHKfH1Z5ye1Oe0/arcgis/rest/services/campus_trees/FeatureServer/0/query'

# Parameters for the initial request
params = {
    'f': 'geojson',
    'where': '1=1',
    'returnGeometry': 'false',
    'spatialRel': 'esriSpatialRelIntersects',
    'outFields': '*',
    'orderByFields': 'FID ASC',
    'resultOffset': 0,  # Start from the first record
    'resultRecordCount': 1000,  # Number of records per request #max is 2000
    'cacheHint': 'true',
    'quantizationParameters': '{"mode":"edit"}'
}

In [4]:
def load_data(base_url=base_url, params=params):
    datalist = []
    step = params['resultRecordCount']
    while True:
        response = requests.get(base_url, params=params)
        responsedata = json.loads(response.content.decode('utf-8'))['features']
        if not responsedata:
            break
        datalist.extend([item['properties'] for item in responsedata])
        params['resultOffset']+=step
    df = pd.DataFrame(datalist)
    return(df)

df = load_data()

In [5]:
df.sample(7)

,FID,ACC_NUM_AN,ACC_NUM,ACC_NUM_QU,ACC_NUM__1,NAME_NUM,FAMILY,NAME,NAME_HTML,ALT_SYN_NA,...,CIRCUMFERE,DBH,DBH_UNIT,HEIGHT,HEIGHT_UNI,SPREAD,SPREAD_UNI,LABEL_HAVE,LABEL_NEED,DEDIC_LABE
9022,9023,20030966*01,20030966,01,20030966*01,1249,Oleaceae,Syringa meyeri 'Palibin',<I>Syringa meyeri</I> 'Palibin',,...,,,,4,F,5,F,,,
1617,1618,20090232*15,20090232,15,20090232*15,819,Pinaceae,Pinus strobus,<I>Pinus strobus</I>,,...,,5.8,I,23.1,F,,,,,
9744,9745,98P133*01,98P133,01,98P133*01,752,Pinaceae,Picea abies,<I>Picea abies</I>,,...,,,,,,,,,,
10604,10605,89P004*18,89P004,18,89P004*18,769,Pinaceae,Picea glauca,<I>Picea glauca</I>,,...,,2.9,I,,,,,,,
11690,11691,CC8588*02,CC8588,02,CC8588*02,7627,Caprifoliaceae,Lonicera sp.,<I>Lonicera sp.</I>,,...,,,,6,F,5,F,,,
8585,8586,NN0397*02,NN0397,02,NN0397*02,111,Rosaceae,Amelanchier canadensis,<I>Amelanchier canadensis</I>,Amelanchier canadensis,...,,,,,,,,,,
3937,3938,20100043*15,20100043,15,20100043*15,434,Juglandaceae,Juglans cinerea,<I>Juglans cinerea</I>,,...,,4.4,I,21.5,F,,,,,

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17563 entries, 0 to 17562
Data columns (total 45 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FID         17563 non-null  int64
 1   ACC_NUM_AN  17563 non-null  object
 2   ACC_NUM     17563 non-null  object
 3   ACC_NUM_QU  17563 non-null  object
 4   ACC_NUM__1  17563 non-null  object
 5   NAME_NUM    17563 non-null  object
 6   FAMILY      17563 non-null  object
 7   NAME        17563 non-null  object
 8   NAME_HTML   17563 non-null  object
 9   ALT_SYN_NA  17563 non-null  object
 10  GENUS       17563 non-null  object
 11  SPECIES     17563 non-null  object
 12  COMMON_NAM  17563 non-null  object
 13  NCOMMONNAM  17563 non-null  object
 14  PROV_TYPE   17563 non-null  object
 15  COUNTRY_CO  17563 non-null  object
 16  COUNTRY_FU  17563 non-null  object
 17  RANGE       17563 non-null  object
 18  P_GARDEN_C  17563 non-null  object
 19  PGCOLL_DES  17563 non-null  object
 20  N_NPHYTORE  17563 non-null  object
 21  CATALOG_DE  17563 non-null  object
 22  ACC_PSOURC  17563 non-null  object
 23  PLANT_DT    7078 non-null   float64
 24  LOCATION_C  17563 non-null  object
 25  LOCATION    17563 non-null  object
 26  LOCATION_F  17563 non-null  object
 27  LAT         17563 non-null  float64
 28  LONG        17563 non-null  float64
 29  NUM_PLTS    17563 non-null  object
 30  SumAliveCa  17563 non-null  int64
 31  CHECK_DT    17350 non-null  float64
 32  CONDITION   17563 non-null  object
 33  CHECK_NOTE  17563 non-null  object
 34  MEASURE_DT  16210 non-null  float64
 35  CIRCUMFERE  17563 non-null  object
 36  DBH         17563 non-null  object
 37  DBH_UNIT    17563 non-null  object
 38  HEIGHT      17563 non-null  object
 39  HEIGHT_UNI  17563 non-null  object
 40  SPREAD      17563 non-null  object
 41  SPREAD_UNI  17563 non-null  object
 42  LABEL_HAVE  17563 non-null  object
 43  LABEL_NEED  17563 non-null  object
 44  DEDIC_LABE  17563 non-null  object
dtypes: float64(5), int64(2), object(38)
memory usage: 6.0+ MB

In [149]:
# df.to_csv('../data/campustreedata.csv', index=False)