In [22]:
#libs
import numpy as np
import pandas as pd
import random

In [30]:
## load data
df = pd.read_csv('../data/trees_data_train.csv', index_col=0)
#load pcs
tree_pcs = pd.read_csv('../data/single_tree_pcs.csv', header=None)

In [23]:
#get training and validation sets
train_zone_list = list(df['Zone_ID'].unique())
random.seed(42)
val_zones = random.sample(train_zone_list, 4)
train_zones = [item for item in train_zone_list if item not in val_zones]

In [24]:
#get X_train etc
X_train, y_train, X_val, y_val = None, None, None, None

In [33]:
tree_pcs.sample()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
8523,6091.977799,-126.221196,-3147.710008,-1764.87814,-779.416543,1306.232704,2345.810226,-967.888039,1105.221945,-551.341228,...,133.749429,159.387046,156.074221,11.096118,151.011335,82.542703,28.944253,111.971379,51.572308,-102.077324

In [32]:
df.sample()

,FID,ACC_NUM_AN,ACC_NUM,ACC_NUM_QU,ACC_NUM__1,NAME_NUM,FAMILY,NAME,NAME_HTML,ALT_SYN_NA,...,SPREAD,SPREAD_UNI,LABEL_HAVE,LABEL_NEED,DEDIC_LABE,GPS_Point,Zone_ID,IN_ZONE,Plot_ID,IN_PLOT
5509,5510,CC8969*01,CC8969,1,CC8969*01,194,Cercidiphyllaceae,Cercidiphyllum japonicum,<I>Cercidiphyllum japonicum</I>,,...,,,,,,POINT (-84.472342 42.719607),zone_G,POLYGON ((-84.47791948448484 42.72326911436249...,X31-Y50,"<GeometryArray>\n[<POLYGON ((-84.472 42.72, -8..."

In [34]:
def single_tree_tts(train_zones=train_zones, val_zones=val_zones):
    X_train, y_train, X_val, y_val = None, None, None, None
    return X_train, y_train, X_val, y_val

In [ ]:

train_height_rows, val_height_rows = None,None

In [ ]:
#predict DBH and HEIGHT